@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized >
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav mx-3">
                <NavLink href="profile" class="nav-item nav-link">Profile</NavLink>
                <NavLink href="articles" class="nav-item nav-link">Articles</NavLink>
                <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
            </div>
        </nav>
    </Authorized>
</AuthorizeView>

<CascadingValue Value="@this">
    <CascadingValue Value="true" Name="IsDevice">
        <div class="app-container container">
            <div class="main-body">
                @Body
            </div>
        </div>
    </CascadingValue>
</CascadingValue>